<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="com.twashtar.getaudio"
    version="1.0.0">

    <name>GetAudio</name>
    <description>Toggle between speaker and earpiece when playing audio</description>
    <license>Apache</license>

    <engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>    

    <js-module src="www/audioswitcher.js" name="GetAudio">
        <clobbers target="GetAudio" />
    </js-module>
	
    <platform name="android">
        <source-file src="src/android/com/twashtar/getaudio/GetAudioPlugin.java" target-dir="src/com/twashtar/getaudio" />
  
        <config-file target="res/xml/config.xml" parent="/*">
			<feature name="AudioTogglePlugin">
				<param name="android-package" value="com.twashtar.getaudioaudio.GetAudioPlugin" />
			</feature>	
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/manifest">
			<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
        </config-file>
    </platform>
</plugin>